*
{
    box-sizing: border-box;
}

body
{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    flex-wrap: wrap;
    height: 55px;
    position: fixed;
    left:0px;
    top: 0px;
    width: 100%;
    font-family: 'Baloo Chettan 2', cursive;
    background-color: grey;
    opacity: 0.86;
}
.navbar div img{
    width: 60px;
    border-radius: 27px;
    display: inline-block;
}
.navbar ul
{
    list-style: none;
    display: flex;
}
.navbar div ul li a
{
    height: 40px;
    margin: -4px 7px;
    position: relative;
    top: -59px;
    left: 45px;
    width: 114px;
    padding: 8px;
    text-decoration: none;
    color: white;
    transition:all 0.6s;
}
.navbar div ul li a:hover
{
    font-size: 20px;
    color: red;
    text-decoration: underline;
}
#Home
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 83px 0px;
    font-family: 'Baloo Chettan 2', cursive;

}
#Home p
{
    width: 723px;
    text-align: center;
    margin: 7px;
}

#Home a
{
    text-decoration: none;
    color:yellow;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 10px;
    width: 164px;
    padding: 0px 15px;
    margin: 13px 0px;
    text-align: center;
}

#Home ::before
{
    background: url("bg1.jpg") no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    height: 358px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.6;
}

#services
{
    margin: -42px 0px;
}

#services h2
{
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;

}
.catalog
{
    height: 500px;
}
.cater
{
    display: inline-block;
    width: 338px;
    border: 2px solid red;
    margin: 22px 53px;
    text-align: center;
    height: 420px;
    border-radius: 43px;
    background-color: antiquewhite;
}
.cater h4
{
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 18px;
    
}
.catalog img
{
    width:230px;
    height: 200px;
    margin: 13px 50px;
    border-radius: 117px;
}
#img1
{
    transition: all 1s;
}
#img2
{
    transition: all 1s;
}
#img3
{
    transition: all 1s;
}
.catalog img:hover
{
    transform:rotateY(360deg) scale(1.5);
}

#contact
{
    display: relative;
    height: 557px;
}

#contact h2
{
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;

}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 12px 0px;
}
.container div
{
    padding: 5px 0px;
    width: 769px;
    font-family: 'Baloo Chettan 2', cursive;
}

.container div input
{
    padding: 1px 47px;
    width: 500px;
    margin: 4px 134px;
    padding: 3px 0px;
    border-radius: 8px;
    font-family: 'Baloo Chettan 2', cursive;

}
.container div label
{
    padding: 0px 138px;
}
.container div textarea
{
    padding: 1px 47px;
    width: 500px;
    margin: 4px 134px;
    padding: 3px 0px;
    border-radius: 8px;
    font-family: 'Baloo Chettan 2', cursive;

}
.container div button
{
    padding: 1px 47px;
    width: 500px;
    margin: 4px 134px;
    padding: 3px 0px;
    border-radius: 8px;
    font-family: 'Baloo Chettan 2', cursive;
    background-color: red;
}
#contact::before
{
    background: url("contact.jpg") no-repeat;
    content: "";
    background-size: cover;
    position: absolute;
    height: 557px;
    width: 100%;
    z-index: -1;
    opacity:0.6;
}

footer p
{
    background-color: black;
    color: white;
    width:100%;
    margin: auto;
    text-align: center;
}